/**
 * @file
 * Style cvitembed.
 */

/* Select a plot */
#cvitembed-form #select-plots {
  border-bottom: 1px solid #d6d6d6;
  font-size: 2em;
  padding: 15px 15px 15px 15px;

  -moz-box-shadow:    0 5px 7px -9px #333333;
  -webkit-box-shadow: 0 5px 7px -9px #333333;
  box-shadow:         0 5px 7px -9px #333333;
}

#cvitembed-form #select-plots .active-plot.title {
  font-weight: bold;
}

#cvitembed-form #select-plots .active-plot.title:before {
  content: "\25B6";
  padding-right: 7px;
}

#cvitembed-form #select-plots .show-plots-link {
  float: right;
  font-size: 0.8em;
}

#cvitembed-form #div-available-plots {
  display: none;
  position: relative;
}

#cvitembed-form #div-available-plots ul {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 25px;
}

#cvitembed-form #div-available-plots ul li {
  padding: 10px 0 10px 0;
}

/* Chart container */
#cvitembed-form #div-chart-container {
  margin: 30px 0 0 0;
}

#cvitembed-form #div-chart-container .chart-col-left {
  float: left;
  position: relative;
}

#cvitembed-form #div-chart-container .chart-col-right {
  float: right;
  padding: 0;
  margin: 0;
  width: 160px;
}

#cvitembed-form #div-chart-container .chart-col-clear {
  clear: both;
  height: 1px;
}

/* Right Column */
#cvitembed-form #list-legend {
  font-size: 1.5em !important;
  font-family: sans-serif;
  font-weight: 300;
  list-style-type: none;
  margin: 0;
}

#cvitembed-form #list-legend li {
  margin: 7px 0;
  color: #000000;
}

#cvitembed-form #list-legend li div {
  border: 1px solid #304356;
  display: inline;
  padding: 0 7px;

  -moz-box-shadow:    1px 1px 1px 0px #FFFFFF;
  -webkit-box-shadow: 1px 1px 1px 0px #FFFFFF;
  box-shadow:         inset 1px 1px 1px 0px #FFFFFF;
}

#cvitembed-form #list-legend > li:first-child {
  font-size: 1.1em;
  margin-top: 0;
  text-decoration: underline;
}

#cvitembed-form #list-legend > li:last-child {
  border-top: 1px solid #d6d6d6;
  margin-top: 20px;
  padding-top: 12px;
}

#cvitembed-form #list-legend li ul {
  padding: 0;
  list-style-type: square;
  margin: 0 0 0 15px;
}

#cvitembed-form #list-legend li ul li {
  color: #118324;
}

#cvitembed-form #link-show-options, #link-export, #link-help  {
  text-decoration: none !important;
}
