/**
 * @file
 * Style cvitembed.
 */

#cvitembed-form #cvit-div {
  padding: 0;
}

#div-chart-container.cvitjs div.messages.warning {
  margin-right: 100px;
  margin-left: 0;
}

/* Legend */
#cvitembed-form #legend {
  margin: 10px 15px;
}

#cvitembed-form #legend .legend-title {
  font-size: 1.1em;
  font-weight: bold;
  font-style: underline;
  padding-right: 10px;
}

#cvitembed-form #list-legend {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-wrap: wrap;
}

#cvitembed-form #list-legend li {
  margin: 7px 0;
  color: #000000;
  padding: 5px;
  padding-right: 25px;
  flex-grow: 1;
}

#cvitembed-form #list-legend li div {
  border: 1px solid #304356;
  display: inline;
  padding: 0 7px;

  -moz-box-shadow:    1px 1px 1px 0px #FFFFFF;
  -webkit-box-shadow: 1px 1px 1px 0px #FFFFFF;
  box-shadow:         inset 1px 1px 1px 0px #FFFFFF;
}
